rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isUser(userId) {
      return signedIn()
        && request.auth.uid == userId;
    }

    function ownsExistingDocument() {
      return signedIn()
        && resource.data.userId == request.auth.uid;
    }

    function ownsNewDocument() {
      return signedIn()
        && request.resource.data.userId == request.auth.uid;
    }

    match /users/{userId} {
      allow read: if isUser(userId);

      allow create: if isUser(userId)
        && request.resource.data.uid == userId;

      allow update: if isUser(userId)
        && request.resource.data.uid == userId;

      allow delete: if false;
    }

    match /wallets/{walletId} {
      allow read, delete: if ownsExistingDocument();
      allow create: if ownsNewDocument();
      allow update: if ownsExistingDocument()
        && ownsNewDocument();
    }

    match /transactions/{transactionId} {
      allow read, delete: if ownsExistingDocument();
      allow create: if ownsNewDocument();
      allow update: if ownsExistingDocument()
        && ownsNewDocument();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
